* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    justify-content: center;
}

html,
body {
    height: 100%;
    min-height: 100%;
    max-height: 100%;
    position: relative;
    margin: 0;
}

body {
    font-family: "Avenir", sans-serif;
    background-image: url("astronomy.jpg");
    background-size: 130%;
    overflow-x: hidden;
    position: relative;
}
.container {
  margin: 0;
  width: 100%;
  max-width: 100%;
  position: relative;
  height: 500px;
  padding: 1px;
}

.division {
  opacity: 0.5;
}

.nav-wrapper {
  background-color: rgba(255,255,255,0.02);
  width: 9999px;
  max-width: 100%;
  margin-bottom: 1px;
}

.home {
  margin-left: 20px;
  margin-top: 1px;
  position: relative;
  width: 80%;
  border-style: none;
  color: white;
  width: 180px;
  max-width: 100%;
}

.subHead {
  font-size: 15px;
  margin-left: 10px;
  opacity: 0.5;
  font-weight: 500;
}
.home p {
  font-size: 15px;
  color: white;
  opacity: 0.8;
}
.home h1 {
  margin-bottom: .1px;
  font-size: 30px;
  font-weight: 800;
  float: left;
}

.home a {
  font-size: 20px;
}

.golf img {
  width: 400px;
  height: 350px;
  border-radius: 10px;
  border-style: solid;
  border-width: 5px;
  border-color: rgba(255,255,255,0.2);
}
.golf {
  position: relative;
  float: left;
  margin-left: 150px;
  margin-top: 50px;
  border-radius: 10px;
  opacity: 0.9;
}

.homeBody {
  position: relative;
  margin: auto;
  margin-top: 10px;
  width: 500px;
  max-width: 100%;
  border-style: none;
  border-radius: 10px;
  padding: 20px;
  background-color: rgba(255,255,255,0.02);
  color: white;
}

.homeBody h1 {
  font-size: 25px;
  font-weight: 800;
  margin: auto;
}

.homeBody p {
  margin-top: 10px;
  font-style: italic;
  font-size: 18px;
}



.pageHead{
  font-size: 10px;
  position: relative;
  float: right;
  margin-left: 40px;
  width: 20%;
  margin-top: -120px;
  text-align: center;
  color: white;
}

.pageHead h1 {
  font-size: 20px;
}

.skills {
  position: relative;
  text-align: left;
  margin-left: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  border-style: none;
  background-color: rgba(255,255,255,0.02);
  border-radius: 10px;
  padding: 20px;
  width: 600px;
  max-width: 100%;
  float: left;
  color: white;
}

.skillsBody {
  margin-top: -20px;
}

.skills h2 {
  font-size: 23px;
  margin-bottom: 0.5px;
}

.skills p {
  font-size: 16px;
}

.projectContainer {
  margin: 0;
  width: 100%;
  max-width: 100%;
  position: relative;
  height: 700px;
  padding: 1px;
}

.projectCard {
  padding: 10px;
  text-align: center;
  width: 340px;
  height: 250px;
  border-radius: 10px;
  background-color: rgba(255,255,255,0.02);
  margin: auto;
  margin-right: 10px;
  float: left;
  margin-left: 10px;
  margin-top: 30px;
  color: white;
  height: 280px;
  max-width: 100%;
  padding: 10px;
}

.projectCard h4 {
  font-weight: 600;
  font-size: 30px;
}

.projectCard p {
  font-style: italic;
  margin-top: 10px;
}


.projectCard img {
  width: 80%;
  border-radius: 10px;
}


.projectDesc {
  width: 500px;
  max-width: 100%;
  color: white;
  background-color: rgba(255,255,255,0.02);
  border-radius: 10px;
  float: left;
  margin: auto;
  margin-right: 20px;
  padding: 20px;
}
.projectDesc h1 {
  font-size: 30px;
  margin-top: 5px;
}
.projectDesc h5 {
  font-size: 20px;
}
.projectDesc li {
  margin-left: 25px;
}
.projectDesc a {
  font-size: 15px;
}

.projectIMG {
  margin-top: 40px;
  width: 500px;
  max-width: 100%;
  float: left;
  margin: auto;
  background-color: rgba(255,255,255,0.0);
  text-align: center;
  padding: 1px;
  border-radius: 10px;
}
.projectIMG img {
  border-radius: 10px;
  width: 100%;
  margin-top: 20px;
}
.face {
  padding: 10px;
  text-align: center;
  width: 500px;
  max-width: 100%;
  border-radius: 10px;
  background-color: rgba(255,255,255,0.0);
  float: left;
  margin: auto;
}

.face img {
  width: 50%;
  border-radius: 10px;
  border-style: solid;
  border-width: 5px;
  border-color: rgba(255,255,255,0.2);
}

.contactDiv {
}

.contactCard {
  color: white;
  width: 320px;
  max-width: 100%;
  background-color: rgba(255,255,255,0.02);
  margin: auto;
  margin-top: 30px;
  margin-bottom: 20px;
  text-align: center;
  border-radius: 10px;
  padding: 15px;
}

.contactCard i {
  font-size: 30px;
  width: 100%;
}

.contactCard p {
  font-size: 16px;
  width: 100%;
}

.faceShot {
  float: right;
  width: 50%;
  background-color: rgba(255,255,255,0.1);
  margin-left: 30px;
  margin-top: 20px;
  text-align: center;
  padding: 1px;
  border-radius: 10px;
}

.faceShot img {
  width: 100%;
  height: 250px;
  border-radius: 8px;
}

.footer {
  position: relative;
  float: left;
  bottom: 0;
  width: 100%;
  height: 60px;
  max-width: 100%;
  color: white;
  text-align: center;
  background: rgba(255, 255, 255, .02);
  font-size: 20px;
  padding: 10px;
}

footer p {
  font-size: 14px;
  text-align: center;
  margin: auto;
  margin-top: 10px;
}
